body {
    font-family: sans-serif;
    background-color: #0E131F;
    color: #ECF8F8;
}

a {
    text-decoration: none;
    color: #0E131F;
}

h1 {
    margin: 5rem;
    text-align: center;
}

.screens_container {
    margin: 5rem 10rem;
}

.screen_wrapper {
    display: inline-block;
    width: 33%;
}

.screen {
    border: #222 1px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    display: block;
    width: 80%;
    margin: auto;
    background-color: #ECF8F8;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: 0.125s;
}

.screen:hover {
    background-color: #42CAFD;
}

.screen img {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: #ddd solid 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.screen h3 {
    text-align: center;
}

.buybtn {
    border-radius: 0.5rem;
    margin: 5rem auto;
    width: 10%;
    padding: 1rem;
    text-align: center;
    display: block;
    background-color: #42CAFD;
    color: #38405F;
    transition: 0.125s;
}

.buybtn:hover {
    cursor: pointer;
    background-color: #ECF8F8;
    color: #222;
}